[Unit]
Description=Run getmail for gmx.de (timer)
Wants=network.target
After=network.target

[Timer]
OnBootSec=1m
OnUnitInactiveSec=5m
Unit=getmail@gmx.service

[Install]
WantedBy=default.target
