#!/usr/bin/env sh
#
# this file is called by most display managers, including lightdm

export LANG="de_DE.UTF-8"

#  Start whatever program I want at X startup (via startx or slim)
$HOME/.monicarc   #monitor calibration

# required by newsbeuter
export XDG_DATA_HOME="$HOME/.config"

# set the default MPD host to my desktop machine
export MPD_HOST="thetick.fritz.box"

# binds keys to shell commands
# sxhkd &

# Go ahead and start {ssh,gpg}-agent so that graphical applications can see the
# correct environment variables, too.
eval $(export SHELL=sh; keychain --agents ssh,gpg --nogui --eval)

# chat program
pidgin &

# start a terminal that runs keychain, which will set the necessary environment
# variables for other process to connect to {gpg,ssh}-agent
konsole -e sh -c "keychain --agents ssh,gpg --nogui id_rsa 2C8878F4" &

# vim:nospell
