#!/usr/bin/env sh
#
# this file is called by most display managers, including lightdm

export LANG="de_DE.UTF-8"

# Workaround until https://bugs.launchpad.net/ubuntu/+source/lightdm/+bug/919200
# is fixed.  This appears to retain all other settings from xorg.conf.d.
setxkbmap -layout "de, us" -variant "nodeadkeys,"

#. .xinitrc

#  Start whatever program I want at X startup (via startx or slim)
$HOME/.monicarc   #monitor calibration

# uncomment when starting via "startx" in an ssh session
xrdb -merge .Xresources

# required by newsbeuter
export XDG_DATA_HOME="$HOME/.config"

# set the default MPD host to my desktop machine
export MPD_HOST=::1

# binds keys to shell commands
sxhkd &

# start a urxvt daemon, will quit with the X server
urxvtd -q -o -f

# start a terminal that runs keychain, which will set the necessary environment
# variables for other process to connect to {gpg,ssh}-agent
eval $(export SHELL=sh; keychain --agents ssh,gpg --nogui --eval)
urxvtc -e sh -c "keychain --agents ssh,gpg --nogui id_rsa 2C8878F4" &

# udisks based automounter
udiskie &

# who can live without a screensaver?
light-locker &

# sets monitor color temp according to daytime
pgrep redshift && killall -TERM redshift
redshift &

# chat program
#gajim &
pidgin &

# some terminals to always start
urxvtc -name "syslog" -e sh -c "sudo journalctl -n 300 -f" &
urxvtc -name "htop-sys" -e sh -c "htop" &

# start specified session or safe default
case "$DESKTOP_SESSION" in
  "fluxbox")
  fbpanel &
  ;;
  "awesome")
  export wpsetters=xsri # set wallpaper setter for awsetbg
  ;;
  "KDE-Awesome")
  export KDEWM=awesome
  ;;
esac

# vim:nospell
