#!/usr/bin/env sh
#
# This file is called by most display managers, including lightdm, kdm, and
# sddm (the latter only under X, though).

export LANG="de_DE.UTF-8"

# monitor calibration
$HOME/.monicarc

# required by newsbeuter
export XDG_DATA_HOME="$HOME/.config"

# set the default MPD host to my desktop machine
export MPD_HOST=::1

# binds keys to shell commands
sxhkd &

# Run keychain, which will export the necessary environment variables for other
# processes to connect to {gpg,ssh}-agent.  Do it here so that graphical
# applications can see them, too.
eval $(export SHELL=sh; keychain --agents ssh,gpg --nogui --eval --quiet)

# Run keychain in a terminal window in order to enter the passphrases.
konsole -e sh -c "keychain --agents ssh,gpg id_rsa 2C8878F4" &

# vim:nospell
