! X resources used in FVWM-Crystal project (http://fvwm-crystal.berlios.de/)
! Written by: Maciej Delmanowski <harnir@post.pl>
! Put this file as ~/.Xresources in your home directory
!
! Adapted by Marc Joliet (mainly URxvt stuff) for personal use.

! Global resource, to make X look for default color files for certain apps
! (like xfig).

*customization: -color

! ===========================================================================
! xautolock resources
Xautolock.time: 5
! Xautolock.locker: dm-tool lock
Xautolock.locker: xlock

! ===========================================================================
! xlockmore resources
! lock    : 5 min
! standby : 10 min
! suspend : 15 min
! off     : 20 min
XLock.mode: blank
XLock.resetsaver: 0
XLock.lockdelay: 10
XLock.dpmsstandby: 600
XLock.dpmssuspend: 900
XLock.dpmsoff: 1200

! ===========================================================================
! URxvt resources
! Escape sequences use octal numbers like \033 for ESC (0x1B).
! See "man console_codes" for more information.
! ---------------------------------------------------------------------------
URxvt.urgentOnBell: true
! URxvt.background: rgba:0000/0000/2222/cccc
URxvt.background: black
URxvt.foreground: white
! Not really good over VNC
URxvt.fading: 40
! URxvt.fading: 0
URxvt.fadecolor: #71C5F4
URxvt.scrollBar: true
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.secondaryscroll: true
URxvt.saveLines: 8192
! do not tab, since tmux does the job better
URxvt.perl-ext-common: -default,-tabbed,selection,readline,searchable-scrollback

! Add a second larger font for "remote" work.
URxvt.keysym.Control-Meta-1: command:\033]710;xft:dejavu sans mono:antialias=true:pixelsize=15\007
URxvt.keysym.Control-Meta-2: command:\033]710;xft:dejavu sans mono:antialias=true:pixelsize=24\007

! Font settings
! URxvt uses UTF-8, so we do not need encoding-specific settings
! ---------------------------------------------------------------------------
! URxvt.font: xft:LiberationMono-Regular
URxvt.font: xft:dejavu sans mono:antialias=true:pixelsize=15

! Colors similar to Linux console
! ---------------------------------------------------------------------------
URxvt.color0: rgb:0/0/0
URxvt.color1: rgb:cc/00/00
URxvt.color2: rgb:00/cc/00
URxvt.color3: #bd5e01
URxvt.color4: rgb:00/00/cc
URxvt.color5: rgb:cc/00/cc
URxvt.color6: rgb:00/cc/cc
URxvt.color7: rgb:aa/aa/aa
URxvt.color8: rgb:33/33/33
URxvt.color9: rgb:ff/00/00
URxvt.color10: rgb:00/ff/00
URxvt.color11: rgb:ff/ff/00
URxvt.color12: rgb:00/00/ff
URxvt.color13: rgb:ff/00/ff
URxvt.color14: rgb:00/ff/ff
URxvt.color15: rgb:ff/ff/ff

! Default URxvt colors
! ---------------------------------------------------------------------------
!URxvt.color0: black
!URxvt.color1: red3
!URxvt.color2: green3
!URxvt.color3: brown
!URxvt.color4: blue3
!URxvt.color5: magenta3
!URxvt.color6: cyan3
!URxvt.color7: gray90
!URxvt.color8: gray30
!URxvt.color9: red
!URxvt.color10: green
!URxvt.color11: yellow
!URxvt.color12: blue
!URxvt.color13: magenta
!URxvt.color14: cyan
!URxvt.color15: white
